li{
    list-style-type:none;
    color: white;
    font-weight: bold;
    padding-bottom: 16px;
    margin:30px;
    margin-top:38px;
    width: 5%;
    text-align: center;
}
.container{
    position: relative;
    left: -200px;
}
#navbar ul li:hover{
    border-width: 100%;
    border-bottom: 2px solid rgba(215, 26, 26, 0.893);
    cursor: pointer;
}
#navbar{
    height: 11vh;
    /* position: static; */
    width: 100%;
    background-color: rgba(217, 200, 200, 0.229);
    
}
ul{
    display: flex;
    justify-content: right;
}
.main{
    position: relative;
    top: 50px;
    left: 60px;
    height: 300px;
    width: 700px;
    background-color: rgba(186, 186, 186, 0.097);
    box-shadow: 3px 3px 5px cyan;
    border-radius: 10px;
    opacity: 0;
    animation-duration: 2s;
    animation-name: main1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.aside2{
    margin-left: 100px;
}
.portfolio{
    width:92%;
    background-color:rgba(186, 186, 186, 0.097);
    height: 1500px;
    margin-left: 65px;
    margin-top: 50px;
    /* border: 1px solid rgba(116, 218, 218, 0.751); */
    border-width: 5px;
    box-shadow: 1px 1px 5px 5px rgba(232, 227, 227, 0.896);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    overflow: hidden;
    grid-template-areas: 'i1 i2 i3'
                          'i4 i5 i6'
                          'i7 i8 i9';
}
.i1{
    grid-area: i1;
    height: 400px;
    width: 400px;
    margin-left: 20px;
    transition: .2s;
}
.i1:hover{
    transform: scale(1.1);
    margin-right: -50px;
    margin-bottom: -50px;
    cursor: pointer;
}
.i2:hover{
    transform: scale(1.1);

    margin-right: -50px;
    margin-bottom: -50px;
    cursor: pointer;

}
.i3:hover{
    transform: scale(1.1);

    margin-right: -50px;
    margin-bottom: -50px;
    cursor: pointer;

}.i4:hover{
    transform: scale(1.1);

    margin-right: -50px;
    margin-bottom: -50px;
    cursor: pointer;

}.i5:hover{
    transform: scale(1.1);

    margin-right: -50px;
    margin-bottom: -50px;
    cursor: pointer;

}.i6:hover{
    transform: scale(1.1);

    margin-right: -50px;
    margin-bottom: -50px;
    cursor: pointer;

}.i7:hover{
    transform: scale(1.1);

    margin-right: -50px;
    margin-bottom: -50px;
    cursor: pointer;

}.i8:hover{
    transform: scale(1.1);

    margin-right: -50px;
    margin-bottom: -50px;
    cursor: pointer;

}.i9:hover{
    transform: scale(1.1);

    margin-right: -50px;
    margin-bottom: -50px;
    cursor: pointer;

}
.i2{
    grid-area: i2;
    height: 400px;
    width: 400px;
    transition: .2s;

}
.i3{
    grid-area: i3;
    height: 400px;
    width: 400px;
    transition: .2s;

}
.i4{
    grid-area: i4;
    height: 400px;
    width: 400px;
    margin-left: 20px;
    transition: .2s;

}
.i5{
    grid-area: i5;
    height: 400px;
    width: 400px;
    transition: .2s;

}
.i6{
    grid-area: i6;
    height: 400px;
    width: 400px;
    transition: .2s;

}
.i7{
    grid-area: i7;
    height: 400px;
    width: 400px;
    margin-left: 20px;
    transition: .2s;

}
.i8{
    grid-area: i8;
    height: 400px;
    width: 400px;
    transition: .2s;

}
.i9{
    grid-area: i9;
    height: 400px;
    width: 400px;
    transition: .2s;

}
@keyframes main1{
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
i{
    font-size: 40px;
    cursor: pointer;
}
#i1{
    position: relative;
    left: -120px;
    animation-name: a1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#i2{
    position: relative;
    left: -150px;
    animation-name: a2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#i3{
    position: relative;
    left: -190px;
    animation-name: a3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;

}
#i4{
    position: relative;
    left: -220px;
    animation-name: a4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;

}
@keyframes a1{
    100%{
        transform: translateX(120px);
        margin-right: 20px;
        
    }
}
@keyframes a2{
    100%{
        transform: translateX(150px);
        margin-right: 20px;

    }
}
@keyframes a3{
    100%{
        transform: translateX(190px);
        margin-right: 20px;

    }
}
@keyframes a4{
    100%{
        transform: translateX(220px);
        margin-right: 20px;

    }
}
#home{
    position: absolute;
    right: -100px;
    animation-name: n1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#about{
    position: absolute;
    right:-100px;
    animation-name: n2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#team{
    position: absolute;
    right: -100px;
    animation-name: n3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#post{
    position: absolute;
    right: -100px;
    animation-name: n4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#contact{
    position: absolute;
    right: -100px;
    animation-name: n5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
@keyframes n1{
    100%{
        transform: translateX(-600px);
    }
}
@keyframes n2{
    100%{
        transform: translateX(-500px);
    }
}
@keyframes n3{
    100%{
        transform: translateX(-400px);
    }
}
@keyframes n4{
    100%{
        transform: translateX(-300px);
    }
}
@keyframes n5{
    100%{
        transform: translateX(-200px);
    }
}

img{
    height: 800px;
    width: 600px;
    margin-top: 10px;
    margin-left: 240px;
    border-radius: 10px;
}
.portfolio img{
    height: 600px;
    width: 600px;
    margin-left: 20px;
    
}
.img1{
    height: 60px;
    width: 60px;
    position: absolute;
    left: 72%;
    top:42%;
    opacity: 0;
    animation-name: an1;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.img2{
    height: 60px;
    width: 60px;
    position: absolute;
    left: 72%;
    top:42%;
    opacity: 0;
    animation-name: an2;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}.img3{
    height: 60px;
    width: 60px;
    position: absolute;
    left: 72%;
    top:42%;
    opacity: 0;
    animation-name: an3;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}.img4{
    height: 60px;
    width: 60px;
    position: absolute;
    left: 72%;
    top:42%;
    opacity: 0;
    animation-name: an4;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}.img5{
    height: 60px;
    width: 60px;
    position: absolute;
    left: 72%;
    top:42%;
    opacity: 0;
    animation-name: an5;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}.img6{
    height: 60px;
    width: 60px;
    position: absolute;
    left: 72%;
    top:42%;
    opacity: 0;
    animation-name: an6;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.img7{
    height: 60px;
    width: 60px;
    position: absolute;
    left: 72%;
    top:42%;
    opacity: 0;
    animation-name: an7;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.img8{
    height: 60px;
    width: 60px;
    position: absolute;
    left: 72%;
    top:42%;
    opacity: 0;
    animation-name: an8;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.aside2{
    height: 800px;
    width: 50%;
}
@keyframes an1{
    50%{
        box-shadow: 10px 10px 10px;
        opacity: .5;
    }
    100%{
        transform: translate(-200px,-200px);
        opacity: 1;
    }
}
@keyframes an2{
    50%{
        box-shadow: 10px 10px 10px;
        opacity: .5;
    }
    100%{
        transform: translate(-200px,-100px);
        opacity: 1;
    }
}
@keyframes an3{
    50%{
        box-shadow: 10px 10px 10px;

        opacity: .5;
    }
    100%{
        transform: translate(-100px,-200px);
        opacity: 1;
    }
}
@keyframes an4{
    50%{
        box-shadow: 10px 10px 10px;


        opacity: .5;
    }
    100%{
        transform: translate(-100px,-100px);
        opacity: 1;
    }
}
@keyframes an5{
    50%{
        box-shadow: -10px 10px 10px;


        opacity: .5;
    }
    100%{
        transform: translate(200px,-200px);
        opacity: 1;
    }
}
@keyframes an6{
    50%{
        box-shadow: -10px 10px 10px;


        opacity: .5;
    }
    100%{
        transform: translate(200px,-100px);
        opacity: 1;
    }
}
@keyframes an7{
    50%{
        box-shadow: -10px 10px 10px;


        opacity: .5;
    }
    100%{
        transform: translate(300px,-200px);
        opacity: 1;
    }
}
@keyframes an8{
    50%{
        box-shadow: -10px 10px 10px;


        opacity: .5;
    }
    100%{
        transform: translate(300px,-100px);
        opacity: 1;
    }
}
.img9{
    height: 400px;
    width:400px;
    margin-left: 150px;
    margin-top: 100px;
}
#menu{
    opacity: 0;
}
#cross{
    opacity: 0;
}
@media only screen and (max-width: 900px){
    .aside2{
        position:absolute;
        left: 10%;
        top: 1vh;
    } 
     .img9{
        height: 500px;
        width: 500px;
        margin-top: 10vh;
        margin-left: 10vw;
    } 
    .main1{
        margin-top: 500px;
    }
    .name{
        display: none;
        
    }
    .main{
       width: 90%;
    }
}

